@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fdfcf6; }

a {
  color: #14c0c9;
  text-decoration: none; }
  a:visited {
    color: #0f949b; }
  a:hover {
    color: #0f949b; }
  a:active {
    color: #16d6e0; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, section h2 {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2 {
  text-transform: uppercase; }

/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#skills {
  background-color: #ffff00; }
  #skills .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #skills h1 {
    color: #0000ff;
    margin-bottom: 60px; }
  #skills .skill-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #fdfcf6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

#contact button {
  background-color: #ffff00;
  /* 文字サイズを1.4emに指定 */
  font-size: 1.0em;
  width: 120px;
  height: 40px;
  /* 角丸の指定 */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  #contact button:hover {
    color: #fdfcf6;
    background-color: #0000ff; }

/* Footer
------------------------------------------------------------*/
footer {
  background-color: #ffff00;
  padding: 10px 0;
  text-align: center;
  color: #0000ff; }

@media (min-width: 769px) {
  /* Base
  ------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; }

  /* Header
------------------------------------------------------------*/
  .button-contact:hover, .button-contact:active {
    background-color: #4c4c4c;
    color: #FFF; }

  .profile {
    clear: both;
    width: 60%;
    margin: 0 auto;
    padding: 60px 0; }

  #skills .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #skills .skill-box {
    margin: 0 10px; }

  #works .works-box {
    width: 33.33333%; }
    #works .works-box a .works-box-inner {
      display: none;
      width: 0%; }
      #works .works-box a .works-box-inner .button-readmore:hover {
        background-color: #0f949b; }
    #works .works-box a:hover .works-box-inner {
      display: block;
      width: 100%; }

  #contact ul a:hover {
    background-color: #0f949b; } }
.flexible-images {
  width: 100%;
  height: 400px; }

.box {
  background-image: url("https://raw.githubusercontent.com/yuichiro1975/responsive-site/master/images/img_top.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center; }

/*# sourceMappingURL=style.css.map */
